@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Raleway")

$font-family-serif: "Georgia", "Times New Roman", "Times", serif
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-accent: "Raleway"

$font-size-base: 16px
