p#notice = notice

x-story _title=@story.title author="John Smith" created_at=@story.created_at description=@story.description
  = @story.body

= link_to 'Edit', edit_story_path(@story)
'|
= link_to 'Back', stories_path
