$side-menu-width: 280px

#side-container
  display: block

  position: fixed
  top: 0
  left: 0
  z-index: $priority-high

  width: $side-menu-width
  height: 100%

  background: $black

  color: $white

  transition: -moz-transform $speed-fast ease-out
  transition: -webkit-transform $speed-fast ease-out
  transition: -ms-transform $speed-fast ease-out
  transition: transform $speed-fast ease-out

  +transform(translateX(-$side-menu-width))

  .menu-content
    .list-group
      .list-group-item
        background: $black

        cursor: pointer
        color: $gray-light

        border-left: none
        border-right: none

        &:first-child
          border-radius: 0
          border-top: none

        &:last-child
          border-radius: 0
          border-bottom: none

        &:hover
          color: $white

      .accent
        margin-right: 10px

    .menu-expander
      position: absolute
      top: 0
      left: 100%

      font-size: 1.6em
      color: $black

      margin-top: 10px
      margin-left: 10px

      &:hover
        cursor: pointer
        color: red

    .click-mask
      visibility: hidden

      cursor: alias

      width: 400%
      height: 100%

      position: fixed
      left: 100%
      top: 0

body.side-menu-expanded
  #side-container
    +transform(translateX(0))

    .menu-content
      .menu-expander
        display: none

      .click-mask
        visibility: visible


html.csstransforms3d
  #side-container
    +transform(translate3d(-$side-menu-width, 0, 0))

  body.side-menu-expanded
    #side-container
      +transform(translate3d(0, 0, 0))
